*.cpuprofile
.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
server/**
client/**
client/node_modules/**
!client/node_modules/antlr4/**
!client/node_modules/vscode-languageclient/**
!client/out